In [1]:
import pandas as pd
import numpy as np
z = np.arange(10, 16)
s = pd.Series(z, index=list('abcdef'))
#Accessing 3rd element of s.
s[2] # ---> Returns '12' 
#Accessing 4th element of s.
s['d'] # ---> Returns '13'

13

In [2]:
s.get(2) # ---> Returns '12'
s.get('d') # ---> Returns '13'

13

In [3]:
s[1:4]

b    11
c    12
d    13
dtype: int32

In [4]:
s['b':'e']

b    11
c    12
d    13
e    14
dtype: int32

In [6]:
a=pd.Series([1,2,3,4,5])
a.index=['s1','s2','s3','s4','s5']
b=pd.Series([1,2,3,4,5])
b.index=['s1','s2','s3','s4','s5']

In [7]:
df=pd.DataFrame({'height':a,'weight':b})
df

    height  weight
s1       1       1
s2       2       2
s3       3       3
s4       4       4
s5       5       5

In [8]:
he=df['height']
he

s1    1
s2    2
s3    3
s4    4
s5    5
Name: height, dtype: int64

In [9]:
he.dtype

dtype('int64')

In [17]:
df1=pd.DataFrame((a,b))

In [18]:
df1.index=['ht','wt']

In [19]:
df1

    s1  s2  s3  s4  s5
ht   1   2   3   4   5
wt   1   2   3   4   5

In [2]:
import pandas as pd
heights_A=pd.Series([176.2,158.4,167.6,156.2,161.4])
heights_A.index=['s1','s2','s3','s4','s5']
print(heights_A.shape)

(5,)

In [3]:
weigths_A=pd.Series([85.1,90.2,76.8,80.4,78.9])
weigths_A.index=['s1','s2','s3','s4','s5']
print(weigths_A.dtype)

float64

In [4]:
frame={'Student_height':heights_A,'Student_weight':weigths_A}
df_A=pd.DataFrame(frame)
print(df_A.shape)

(5, 2)

In [5]:
import numpy as np
np.random.seed(100)
labels=['s1','s2','s3','s4','s5']
my_list=np.random.normal (170,25,5)
heights_B=pd.Series(data=my_list,index=labels)
my_list1=np.random.normal (75,12,5)
weights_B=pd.Series(data=my_list1,index=labels)
print(heights_B.mean())
frame1={'Student_height':heights_B,'Student_weight':weights_B}
df_B=pd.DataFrame(frame1)
print(df_B.columns)

172.37417741633146
Index(['Student_height', 'Student_weight'], dtype='object')

In [8]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [9]:
df_B

    Student_height  Student_weight
s1      126.255863       81.170626
s2      178.567010       77.654156
s3      198.825895       62.159480
s4      163.689099       72.726050
s5      194.533020       78.060017

In [11]:
data1={'classA':df_A,'classB':df_B}
p=pd.Panel.to_frame(data1)

C:\Users\hp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
f=[df_A,df_B]
p=pd.concat(f,keys=['classA','classB'])

In [24]:
p.shape

(10, 2)

In [18]:
m=pd.merge(df_A,df_B,left_index=True,right_index=True)
m

    Student_height_x  Student_weight_x  Student_height_y  Student_weight_y
s1             176.2              85.1        126.255863         81.170626
s2             158.4              90.2        178.567010         77.654156
s3             167.6              76.8        198.825895         62.159480
s4             156.2              80.4        163.689099         72.726050
s5             161.4              78.9        194.533020         78.060017

In [19]:
f.to_Panel()

AttributeError: 'list' object has no attribute 'to_Panel'

In [20]:
pd.Panel(p)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments